
.navbar-brand{
    font-size: 40px;
    font-weight: bold;
}

.navbar-link {
    float: right;
    text-align: left;
    color: rgb(179, 179, 179);
    text-decoration: none;
    margin-right: 3rem;
    font-size: 1.5rem
}
.navbar-link:hover{
    color: rgb(143, 142, 142);
    text-decoration: none;
}


.card-deck{
    margin: 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
}

input[type="text"]
{
    color: rgb(179, 179, 179); 
    background-color: transparent; 
    border: 0px solid;
    text-align:right;
    width: 220px

}