.navbar-brand{
    font-size: 40px;
    font-weight: bold;
}

.navbar-link {
    float: right;
    text-align: left;
    color: rgb(179, 179, 179);
    text-decoration: none;
    margin-right: 3rem;
    font-size: 1.5rem
}
.navbar-link:hover{
    color: rgb(143, 142, 142);
    text-decoration: none;
}

.card-deck{
  margin: 30px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;
}

ul{
  display: inline-block;  
  list-style-type: none;
}

.badge{
  margin-left: 1rem;
}

li > button {
  position: absolute;
  right: 1rem;
}

#game-board {
    display: none;
}
		#columnOne, #columnTwo, #columnThree, #columnFour, #columnFive, #columnSix, #columnSeven {
			float: left;
		}

		#turn {
			font-size: 25px
			d
		}

		#columnOne div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnTwo div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnThree div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnFour div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnFive div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnSix div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnSeven div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		.white {
			background-color: white;
		}

		.red {
			background-color: red;
			background-color: #c06;
			height: 150px;
			-moz-border-radius:75px;
			-webkit-border-radius: 75px;
			width: 150px;
		}

		.black {
			background-color: black;
			background-color: #000000;
			height: 150px;
			-moz-border-radius:75px;
			-webkit-border-radius: 75px;
			width: 150px;
		}
