<div class="card text-center border-secondary" style="min-width: 18rem; max-width: 30rem">
    <img src="images/<%= game %>.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><%= game %></h5>
      <a href="/<%= game %>" class="btn btn-secondary">ZAGRAJ</a>
    </div>
</div>