<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navbar', {nick:nick}) %>
    <div class="card-deck">
      <% for (let [game, name] of Object.entries(games)){%>
        <%- include('partials/game-card', {game: game, name: name}) %>
      <% } %>
    </div>
    <%- include('partials/bootstrap-scripts') %>
  </body>
</html>